version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: pea_user
      POSTGRES_PASSWORD: 1234567
      POSTGRES_DB: Test_PEA_DB
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pea_user -d Test_PEA_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: auth-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
